TextToSpeech/Data/*

GitSSHAuthentication

Langchain/toolsRequired.txt

Session.vim

__pycache__
Log/*

!Log/custom_logger.py

Temp/*

!Temp/llmTemplateScriptGeneration.txt

Langchain/Tools/ToolsProjectBuilder/Project*