## Langchain/agent
# langchain_openai
# langgraph
# langgraph.prebuilt
# langchain_community
# langchain_google_community
# langchain-experimental
# langchain_ollama
# langchain_google_genai 
# nest_asyncio
# duckduckgo-search // need to download from the docker terminal

## TextToSpeech
# gtts
# paramiko

## UI/WebApp
# flask

## UI
# ollama
